amqp==1.4.6
anyjson==0.3.3
beautifulsoup4==4.4.0
billiard==3.3.0.20
celery==3.1.18
cffi==1.2.1
crypto==1.4.1
cryptography==1.0
Django==1.8.4
django-cors-headers==1.1.0
enum34==1.0.4
google-api-python-client==1.4.1
httplib2==0.9.1
idna==2.0
ipaddress==1.0.14
kombu==3.0.26
Naked==0.1.31
oauth2client==1.4.12
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
pycrypto==2.6.1
pyOpenSSL==0.15.1
pytz==2015.4
PyYAML==3.11
requests==2.7.0
rsa==3.2
shellescape==3.4.1
simplejson==3.8.0
six==1.9.0
uritemplate==0.6
